<div class="dashboard-container" (keydown.escape)="cancelChangeName()" >
  <div class="mt-3">
    <div class="cards d-flex flex-grow-1  flex-sm-row flex-column">
      <button class="new-category-btn btn btn-outline-dark shadow m-auto mb-1 m-sm-2" (click)="setEditMode()"(submit)="saveCategoryName()">
        <span *ngIf="!editMode  || selectedCategoryId"><i class="fa fa-plus"></i></span>
        <form [formGroup]="modalForm">
          <span *ngIf="editMode && !selectedCategoryId"><input class="form-control" type="text"  formControlName="categoryName" [maxLength]="20" [placeholder]="'Category Name'"></span>
        </form>
      </button>
      <div cdkDropListGroup class="d-flex flex-sm-row flex-column m-auto m-sm-0">
        <div class="category-group mb-1 mt-2 mt-sm-0 mb-sm-0" *ngFor="let category of categoryList" cdkDropList
             [cdkDropListData]="category"
             (cdkDropListDropped)="drop($event)">
          <div
            class="category-content d-flex flex-column mr-sm-1">

            <button class="category-btn btn btn-outline-dark m-2 shadow" (click)="setEditMode(category._id, category.name)"   (submit)="saveCategoryName(category._id)">
              <span *ngIf="!editMode || selectedCategoryId !== category._id" class="font-weight-bold category-name">{{category.name}}</span>
              <form [formGroup]="modalForm">
                <span *ngIf="editMode && selectedCategoryId === category._id">
                  <input class="form-control" type="text" autofocus formControlName="categoryName" [maxLength]="20">
                </span>
              </form>
            </button>
            <div *ngFor="let wish of category.wishDtos">
              <div cdkDrag [cdkDragData]="wish" class="card wish-card m-2 shadow"  *ngIf="!wish.granted" (click)="modalService.open(wishModal, wish)">
                <div class="card-body d-flex flex-column">
                  <span class="font-weight-bold wish-title">{{wish.title}}</span>
                  <span class="text-right wish-price">{{wish.price}}₺</span>
                </div>
              </div>
            </div>
            <button class="btn m-2 new-wish-btn btn-outline-dark shadow" (click)="modalService.open(wishModal, {categoryId: category._id})">
              <span><i class="fa fa-plus wish-title"></i></span>
            </button>
          </div>
        </div>
        <div class="category-group mb-1 mt-2 mt-sm-0 mb-sm-0"
             cdkDropList [cdkDropListData]="grantedWishes" (cdkDropListDropped)="grantWish($event)" >
          <div
            class="category-content d-flex flex-column mr-sm-1">
            <button class="category-btn btn btn-outline-dark m-2 shadow">
              <span class="font-weight-bold">Granted Wishes</span>
            </button>
            <div cdkDrag [cdkDragData]="wish" class="card wish-card m-2 shadow" *ngFor="let wish of grantedWishes">
              <div class="card-body d-flex flex-column">
                <span class="font-weight-bold wish-title">{{wish.title}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn delete-category-btn" *ngIf="selectedCategoryId" (click)="deleteCategory()">
    <i class="fa fa-trash delete-icon"></i>
  </button>
</div>
