<div class="container justify-content-center align-middle centered-content">
  <div class="card shadow-lg register-card">
    <div class="card-header text-center register-header"><h5 class="card-title register-title">REGISTER</h5></div>
    <div class="card-body register-card-body">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group ">
          <label for="username" class="sr-only"></label>
            <input type="text" [formControlName]="'username'" id="username" class="form-control" placeholder="Username" required="" autofocus="">
        </div>
        <div class="form-group">
          <label for="email" class="sr-only"></label>
            <input type="email" [formControlName]="'email'" id="email" class="form-control" placeholder="E-mail" required="" autofocus="">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only"></label>
            <input type="password" [formControlName]="'password'" id="password" class="form-control " placeholder="Password" required="" autofocus="">
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="sr-only"></label>
            <input type="password" [formControlName]="'confirmPassword'" id="confirmPassword" class="form-control " placeholder="Retype Password" required="" autofocus="">
        </div>
        <div class="register-buttons text-center">
          <button class="btn register-btn" type="submit">
            <span>Sign me up!</span>
          </button>
        </div>
        <div class="success-message text-center">
          <span [style]="{'color': success ? '#53917E' : '#FF0022'}">{{message}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
